body {
  height: 100vh;
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bkgd-image {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url('./bedroom.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

#header-img {
  max-width: 100%;
}

.box {
  margin-top: 120px;
  background-color: #ef5350;
  border-radius: 25px;
  height: 309px;
  position: absolute;
  bottom: 1em;
  flex-grow: 1;
  padding: 1em;
}

.logo-avatar {
  border-radius: 50%;
}

.avatar-center {
  text-align: center;
  font-family: 'Archivo Narrow', sans-serif;
  color: #fff;
  margin: auto;
}

.lead {
  font-size: 2rem;
}

.avatar-center .clicktext {
  color: #000;
  font-size: 21px;
  line-height: 19px;
}
.avatar-center a {
  color: #000;
  text-decoration: underline black !important;
}

.shadow {
  box-shadow: 0.5rem 0rem 1rem rgba(0, 0, 0, 0.55) !important;
}

.home-saying {
  float: right;
  font-family: 'Archivo', sans-serif;
  color: #fff;
  text-shadow: 2px 2px #848484;
  font-size: 52px;
  /* width: 317px; */
  line-height: 59px;
}

.custom-control-label {
  font-size: 33px;
  color: #ffffff;
  font-family: 'Archivo Narrow', sans-serif;
}

.custom-control-label::before {
  top: 1rem;
}

/*dashboard*/

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(62, 199, 237, 0.26);
}

.dashbkgrd {
  background-image: url('/img/love-hearts.jpg');
  background-size: contain;
}

.dashboard-rght {
  background-color: #ef5350;
  color: #fff;
  font-family: 'Archivo Narrow', sans-serif;
}

.dashboard-rght h1 {
  text-align: center;
  font-size: 2rem;
  /* margin: 12px 0 0 -21px; */
}

#avatar-image {
  border-radius: 50%;
  width: 85%;
  /* margin-top: -13px; */
}

#avatar-text-header {
  font-size: 1rem;
  line-height: 48px;
}

#avatar-image-header {
  border-radius: 50%;
  width: 30px;
  margin: auto;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.dashboard-rght img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.dashboard-rght {
  font-size: 1.5rem;
}

.dashboard-rght p {
  margin-bottom: 0;
}

.dashboard-rght span {
  color: #000;
}

.btn {
  border-radius: 25px;
  width: 150px;
  border: none;
}

.btn-secondary {
  background-color: #00b9bd;
}

.btn-secondary:hover {
  background-color: #fff;
  border: none;
  color: #00b9bd;
}

.btn-primary {
  background-color: #fff;
  border: none;
  color: #00b9bd;
}

.btn-primary:hover {
  background-color: #00b9bd;
}

.close-tony {
  font-size: 2.5rem;
  color: #fff;
  opacity: 1;
}

.custom-control-label::after {
  top: 1rem;
  left: -1.5rem;
  background-size: 80% 80%;
}

.modal-content-tony {
  background-color: #b61827;
  background-repeat: no-repeat;
  border-radius: 20px;
  max-height: 95vh !important;
}

.modal-bkgrd {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.modal-dialog-centered-tony {
  height: 100%;
  align-items: unset;
}

.modal-header-tony {
  padding: 0rem 1rem;
  border-bottom: none;
}

.modal-footer-tony {
  border-top: none;
}

.modal-title-tony {
  color: #fff;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 2.5em;
}

.modal-body-tony {
  font-family: 'Archivo Narrow', sans-serif;
  color: #fff;
  font-size: 2em;
  line-height: 36px;
}
