@keyframes user-show {
  0% {
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes user-hide {
  0% {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes google-hide {
  0% {
    margin-right: 32px;
    -ms-transform: translateX(200%);
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
  100% {
    margin-right: 16px;
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes google-show {
  0% {
    margin-right: 16px;
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    margin-right: 32px;
    -ms-transform: translateX(200%);
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }
}

@media only screen and (max-width: 599px) {
  #login,
  #logo {
    height: 30px;
    margin: 8px 0;
  }

  #logo {
    margin-right: -20px;
  }

  #login-grid,
  #logo-grid {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  #user {
    margin: 0;
  }

  #user-name {
    width: auto;
  }
}
